*{
    margin: 0;
    padding:0;
    box-sizing=border-box;
}
body{
  font-family:sans-serif,monospace; 
   margin: auto;
}
.container {
    background-color: black;
    
}

.time {
    color: red;
}

.box-two {
   font-family: fantasy;
    font-size: 12px;
    background-color: white;
    text-align: center;
    
}

.menu {
    color: white;
     display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

.title {
    float: left;
    padding: 10px;
    padding-right: 10px;
    padding-left: 20px;   
    font-size: 12px;
    
}

.box-one img{
      display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    
}

#fitness {
padding-left: 240px;
    padding-right: 200px;
   
   
}



.boxone-texts {
    position: absolute;
    color: white;
    
    font-family: fantasy;
     top: 50%;
    left: 25%;
    background: #000000;
    padding: 5px;
    
}
.box-one {
    position: relative;
}

#best-choice {
    font-size: 11px;
     margin-top: 52px;
    font-family:sans-serif;
}

#text1{
    font-size: 18px;
     margin-top: 22px;
}

#some-text {
     background:#ff0000;
     font-size: 11px;
    font-family:sans-serif;
    padding: 4px;
}

#home {
    
    background: red;
}

#phrase {
    color: rgba(100, 101, 101, 0.91);
    font-size: 14px;
    font-family: cursive;
    font-style: italic;
    padding: 5px;
    
}

.box-two1 {
    background: rgba(0, 0, 0, 0.74);
    color: white;
    font-size: 18px;
    padding: 5%;
}

.row{
    max-width: 200px;
    margin: 0 auto ;
}

/*  SECTIONS  */

.section {
	clear: both;
	padding:0;
	margin-left: 15%;   
    margin-right: 15%
    
}

/*  COLUMN SETUP  (height modified) */
.col {
	display: block; 
    height: 210px;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%;}




.detail-text {
    font-family:sans-serif;
    text-align: justify;
    color: #48494a;
}

.box-two2 {
    padding: 2%;
    margin-left: 8%;
    margin-right: 8%;
}

.box-two3 {
    padding-top: 2%;
    width: 60%;
     margin-left: 25%;
    
}

.box-two4 {
    background: rgba(248, 34, 34, 0.79);
    color: white;
    font-size: 18px;
    padding: 2%;
   
}

.text-red {
    border: 2px solid #ffffff;
    font-family: sans-serif;
    font-size: 12px;
    padding: 5%;
    background: #ed2727;
    
}

.small-text {
    font-size: 10px;
    font-family: sans-serif;
    text-align: justify;
}

.last-box {
    background: black;
    padding-top: 5%;
    padding-bottom: 10%;
    color: white;
}

.partners {
    padding-top: 2%;
    padding-bottom: 15%;
    background: white;
    text-align: center;
    font-family: fantasy;
    
}

.trainer-name {
    background: white;
    color: black;
    font-size: 12px;
}
